[mysqld]
port=3306 
pid-file=/var/run/mysqld/mysqld.pid 
socket=/var/run/mysqld/mysqld.sock 
datadir=/var/data/mysql
secure-file-priv= NULL
#log-error=/var/log/mysql/error.log 
#bind-address=127.0.0.1 
symbolic-links=0
sql_mode='ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
#init_connect='SET collation_connection = utf8mb4_general_ci' 
#init_connect='SET NAMES utf8mb4' 
character_set_server = utf8mb4 
collation_server = utf8mb4_general_ci 
slow_query_log = 1
slow_query_log_file = slow.log
long_query_time = 2
default-time-zone='+08:00'
default_authentication_plugin=mysql_native_password
lower_case_table_names = 1
max_allowed_packet=128M
default_storage_engine=InnoDB
# 数据库编号, 要具有唯一性, 不能跟其他数据库重复, 方便同步区分
server_id = 50102
# 中继日志：存储所有主库TP过来的binlog事件主库binlog：记录主库发生过的修改事件
relay_log = mysql-relay-bin.log
#使用逻辑时钟，基于组提交实现并行复制，默认是DATABASE
slave_parallel_type = LOGICAL_CLOCK
#设置并行线程数，通常和CPU核数一致
slave_parallel_workers=4
#默认；开启MTS后会频繁更新master.info文件，默认为FILE，设置为TABLE减少开销
master_info_repository=TABLE
# 默认
relay_log_info_repository = TABLE 
log_slave_updates=ON
#如果从库IO线程崩溃，并且relaylog损坏，则放弃所有未执行的relaylog，重新从master获取日志保持完整
relay_log_recovery = ON
innodb_file_per_table=ON
sync_binlog=0
innodb_flush_log_at_trx_commit=0
skip-log-bin

[client] 
default-character-set=utf8mb4

[mysql] 
default-character-set=utf8mb4


