[client]
port=3306

[mysqld]
##### 这两部操作可以解决mysql连接很慢的问题 #####
# 根据官方文档说明，如果你的mysql主机查询DNS很慢或是有很多客户端主机时会导致连接很慢，由于我们的开发机器是不能够连接外网的，
# 所以DNS解析是不可能完成的，从而也就明白了为什么连接那么慢了。同时，请注意在增加该配置参数后，mysql的授权表中的host字段就
# 不能够使用域名而只能够使用 ip地址了，因为这是禁止了域名解析的结果。

# 1.禁止域名解析
skip-host-cache

# 2.禁用dns解析，但是，这样不能在mysql的授权表中使用主机名了，只能使用IP。
skip_name_resolve=ON

# 数据库编号, 要具有唯一性, 不能跟其他数据库重复, 方便同步区分
server_id = 11

# mysql日志
log_bin = mysql-bin.log

# 中继日志：存储所有主库TP过来的binlog事件主库binlog：记录主库发生过的修改事件
relay_log = mysql-relay-bin.log

# binlog日志格式，mysql默认采用statement，建议使用 mixed(是statement和row模式的结合)
# binlog的格式有三种；STATEMENT，ROW，MIXED
#STATEMENT模式
# 每一条会修改数据的sql语句会记录到binlog中。
# 优点是并不需要记录每一条sql语句和每一行的数据变化，减少了binlog日志量，节约IO，提高性能。
# 缺点是在某些情况下会导致master-slave中的数据不一致(如sleep()函数， last_insert_id()，以及user-defined functions(udf)等会出现问题)
#ROW模式（RBR）
# 不记录每条sql语句的上下文信息，仅需记录哪条数据被修改了，修改成什么样了。
# 优点是不会出现某些特定情况下的存储过程、或function、或trigger的调用和触发无法被正确复制的问题。
# 缺点是会产生大量的日志，尤其是alter table的时候会让日志暴涨。
binlog_format = MIXED

# 指定需要复制的数据库名
binlog_do_db = testdb0
binlog_do_db = testdb1
binlog_do_db = testdb2
binlog_do_db = testdb3
binlog_do_db = testdb4
binlog_do_db = testdb5
binlog_do_db = testdb6
binlog_do_db = testdb7
binlog_do_db = testdb8
binlog_do_db = testdb9
binlog_do_db = testdb10
binlog_do_db = testdb11

# 通用配置
innodb_file_per_table=ON

# mysql 8.0 数据库默认的认证插件是caching_sha2_password
default_authentication_plugin=mysql_native_password
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
explicit_defaults_for_timestamp=ON

# lower_case_table_names = 1  表名存储在磁盘是小写的，但是比较的时候是不区分大小写
# lower_case_table_names=0  表名存储为给定的大小和比较是区分大小写的 
# lower_case_table_names=2, 表名存储为给定的大小写但是比较的时候是小写的
lower_case_table_names=1
max_allowed_packet=128M
default_storage_engine=InnoDB
slave_parallel_type = LOGICAL_CLOCK  #使用逻辑时钟，基于组提交实现并行复制，默认是DATABASE
slave_parallel_workers=4 #设置并行线程数，通常和CPU核数一致
master_info_repository=TABLE #默认；开启MTS后会频繁更新master.info文件，默认为FILE，设置为TABLE减少开销
relay_log_info_repository = TABLE # 默认
log_slave_updates=ON 
relay_log_recovery = ON  #如果从库IO线程崩溃，并且relaylog损坏，则放弃所有未执行的relaylog，重新从master获取日志保持完整

# mysql 8.0新特性
binlog_transaction_dependency_tracking = WRITESET
slave_preserve_commit_order=ON
binlog_transaction_dependency_history_size=25000 # 默认
transaction_write_set_extraction=XXHASH64
