[mysqld]
port=3306 
pid-file=/var/run/mysqld/mysqld.pid 
socket=/var/run/mysqld/mysqld.sock 
datadir=/var/data/mysql
secure-file-priv= NULL
#log-error=/var/log/mysql/error.log 
#bind-address=127.0.0.1 
symbolic-links=0
sql_mode='ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
#init_connect='SET collation_connection = latin1_swedish_ci' 
#init_connect='SET NAMES latin1'
character_set_server = latin1 
collation_server = latin1_swedish_ci 
slow_query_log = 1
slow_query_log_file = slow.log
long_query_time = 2
default-time-zone='+08:00'
default_authentication_plugin=mysql_native_password
lower_case_table_names = 1
max_allowed_packet=128M
default_storage_engine=InnoDB
#设定默认的事务隔离级别.可用的级别如下:
#READ-UNCOMMITTED, READ-COMMITTED, REPEATABLE-READ, SERIALIZABLE
transaction_isolation= REPEATABLE-READ

[client] 
default-character-set=latin1

[mysql] 
default-character-set=latin1
