[client]
port=3306

[mysqld]
skip-host-cache
skip_name_resolve=ON
server_id = 22
log_bin = mysql-bin.log
relay_log = mysql-relay-bin.log
binlog_format = MIXED
binlog_do_db = mydb
binlog_do_db = siam_admin

# 通用配置
innodb_file_per_table=ON
default_authentication_plugin=mysql_native_password
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
explicit_defaults_for_timestamp=ON
lower_case_table_names=1
max_allowed_packet=128M
default_storage_engine=InnoDB
slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=4
master_info_repository=TABLE
relay_log_info_repository = TABLE
log_slave_updates=ON
relay_log_recovery = ON
binlog_transaction_dependency_tracking = WRITESET
slave_preserve_commit_order=ON
binlog_transaction_dependency_history_size=25000
transaction_write_set_extraction=XXHASH64

