[client]
port=3306

[mysqld]
skip-host-cache
skip_name_resolve=ON
server_id = 53301
log_bin = mysql-bin.log
relay_log = mysql-relay-bin.log
binlog_format = MIXED
binlog_do_db = mydb
binlog_do_db = siam_admin
innodb_file_per_table=ON
default_authentication_plugin=mysql_native_password
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
explicit_defaults_for_timestamp=ON
lower_case_table_names=1
max_allowed_packet=128M
default_storage_engine=InnoDB
slave_parallel_type = LOGICAL_CLOCK  #使用逻辑时钟，基于组提交实现并行复制，默认是DATABASE
slave_parallel_workers=4 #设置并行线程数，通常和CPU核数一致
master_info_repository=TABLE #默认；开启MTS后会频繁更新master.info文件，默认为FILE，设置为TABLE减少开销
relay_log_info_repository = TABLE # 默认
log_slave_updates=ON 
relay_log_recovery = ON  #如果从库IO线程崩溃，并且relaylog损坏，则放弃所有未执行的relaylog，重新从master获取日志保持完整
binlog_transaction_dependency_tracking = WRITESET
slave_preserve_commit_order=ON
binlog_transaction_dependency_history_size=25000 # 默认
transaction_write_set_extraction=XXHASH64
